<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.criinfo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".More.AddTournamentLocation"
            android:label="@string/title_activity_add_tournament_location"
            android:parentActivityName=".More.TournamentRegistration"
            ></activity>
        <activity
            android:name=".More.AddMatchResult"
            android:label="Match Result"
            android:parentActivityName=".More.MyTournamentTabs.MyTournamentInfo"/>
        <activity android:name=".More.MatchTypeSelection"
            android:label="Match Selection"
            android:parentActivityName=".More.AddTournamentMatchSchedule"
            />
        <activity
            android:name=".Info.PlayerInfo"
            android:label="Player Info"
            />
        <activity
            android:name=".More.MyProfile"
            android:label="My Profile" />
        <activity android:name=".More.TournamentTeams"
            android:label="Teams" />
        <activity android:name=".More.AddTournamentMatchSchedule"
            android:label="Match Schedule"
            android:parentActivityName=".More.MyTournamentTabs.MyTournamentInfo"
            />
        <activity android:name=".More.TournamentsTabs.Tournaments"
            android:label="Tournaments"
            />
        <activity android:name=".More.TournamentsTabs.TournamentsInfo"
            android:label="Tournament"
            android:parentActivityName=".More.TournamentsTabs.Tournaments"
            />
        <activity android:name=".More.MyTournamentTabs.MyTournamentInfo"
            android:label="My Tournament"
            android:parentActivityName=".More.TournamentsTabs.Tournaments"
            />
        <activity
            android:name=".More.CreateTournament"
            android:label="My Tournaments"
            android:parentActivityName=".More.TournamentsTabs.Tournaments"
            />
        <activity
            android:name=".More.TournamentRegistration"
            android:label="Create Tournament"
            android:parentActivityName=".More.CreateTournament"/>

        <activity android:name=".More.TeamsActivity"
            android:label="Teams" />
        <activity android:name=".More.MyTeamTabs.MyTeamInfo"
            android:label="Team Information"
            android:parentActivityName=".More.TeamsActivity"/>
        <activity
            android:name=".More.ContactUs"
            android:label="Contact Us" />
        <activity
            android:name=".More.AboutUs"
            android:label="About Us" />
        <activity
            android:name=".More.TeamPlayers"
            android:label="Team Players"
            android:parentActivityName=".More.TeamManagerTeam" />
        <activity android:name=".More.AddPlayer"
            android:label="Add Players"
            android:parentActivityName=".More.TeamPlayers"/>
        <activity
            android:name=".More.CreateTeam"
            android:label="Create Team"
            android:parentActivityName=".More.TeamManagerTeam" />
        <activity
            android:name=".More.TeamManagerTeam"
            android:label="My Team" />
        <activity android:name=".Home.HomeActivity" />
        <activity
            android:name=".Home.MatchDetails"
            android:label="MatchDetails"
            android:parentActivityName=".Home.HomeActivity" />
        <activity
            android:name=".LoginSignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>